{% extends 'base.html' %}

{% block title %}
Create Account
{% endblock title %}

{% block content %}
<header>
    <nav>
      <a href="{% url 'home' %}">Main page</a>
    </nav>
  </header>
  <main>
    <h1>Create Account</h1>
    <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button>Create</button>
    </form>
    </div>
  </main>
{% endblock content %}