{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}
{% block content %}
    <header>
        <div>
            <nav>
                <a class="hover-white" href="{% url 'home' %}">Main</a>
            <a href="{% url 'login' %}">Login</a>
            {% if user.is_authenticated %}
            Hello, {{ user.username|title }}
            <a class="hover-white" href="{% url 'create_receipt' %}">Create Receipt</a>
            <a class="hover-white" href="{% url 'create_account' %}">Create Account</a>
            <a class="hover-white" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="hover-white" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
            </nav>
        </div>
    </header>
    <main>

        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
                <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.receipts.all|length }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </main>
{% endblock content %}