{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}
{% block content %}
    <header>
        <div>
            <nav>
                <a class="hover-white" href="{% url 'home' %}">Main</a>
            <a href="{% url 'login' %}">Login</a>
            {% if user.is_authenticated %}
            Hello, {{ user.username|title }}
            <a class="hover-white" href="{% url 'create_receipt' %}">Create Receipt</a>
            <a class="hover-white" href="{% url 'category_list' %}">Categories</a>
            <a class="hover-white" href="{% url 'account_list' %}">Accounts</a>
            <a class="hover-white" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="hover-white" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
            </nav>
        </div>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendors</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
                <tbody>
                    {% for receipt in receipts %}
                        <tr>
                            <td>{{ receipt.vendor }}</td>
                            <td>{{ receipt.total }}</td>
                            <td>{{ receipt.tax }}</td>
                            <td>{{ receipt.date|date:"n/d/y" }}</td>
                            <td>{{ receipt.category.name }}</td>
                            <td>{{ receipt.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </main>
{% endblock content %}
